.cbs-container{
    max-width: 830px !important;
}
/* === Start Css Code for calender ===*/
.date-picker-container{
    width:400px;
    height:320px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-family:'Roboto';
    border-radius:8px 8px 0px 0px;
    background-color:white;
  }
.ui-datepicker-header{
    background-color: #2196f3;
    color:white;
    text-align:center;
    font-family:'Roboto';
    padding:10px;
    height:40px;
    border-radius:8px 8px 0px 0px;
}

.ui-datepicker-prev span, 
.ui-datepicker-next span{
    display:none;
}

.ui-datepicker-prev:after{
    content:"<";
    font-size:2rem;
    float:left;
    margin-left:10px;
    cursor:pointer;
}


.ui-datepicker-next:after{
    content:">";
    float:right;
    font-size:2rem;
    margin-right:10px;
    cursor:pointer;
}
.ui-datepicker-calendar th{
    padding:10px;
    color:#2196f3;
}

.ui-datepicker-calendar {
    text-align:center;
    margin:0 auto;
    padding:8px;
}

.ui-datepicker-title{
    padding:10px;
}

.ui-datepicker-calendar td {
    padding:4px 0px;
}

.ui-datepicker-calendar .ui-state-default {
    text-decoration:none;
    color:black;
}

.ui-datepicker-calendar .ui-state-active {
    color: #2196f3;
}
/*=== End Css for calender ===*/

/**=== Start main shortcode style ===*/
.cbs-container{
    border: 2px solid #222;
    padding: 20px;
}
.cbs-tab-section{
    margin: 20px 50px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.cbs-tab{
    border: 1px solid #ddd;
    padding: 5px 30px;
    font-weight: bold;
    color: #000;
}
.cbs-form-area {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
.hour-picker{
    display: flex;
}
.cbs-hour{
    border: 1px solid #ddd;
    margin: 10px;
    padding: 2px 10px;
    cursor: pointer;
    width: 100px;
}
.cbs-hour p{
    margin-bottom: 0;
}
.disable{
    color:#ddd;
    cursor:default;
}
.active{
    color:#2196f3;
}
.all-button{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.content {
    display: none;
}
.blue {
    color: blue;
}
/**=== End main shortcode style ===*/


/*Clender color default style modify*/
.ui-state-disabled .ui-state-default{
    color: #ddd;
}
.ui-state-active{
    border:1px solid #2196f3;
    border-radius: 50%;
    padding: 5px;
}
.ui-state-default{
    text-decoration: none !important;
}
.ui-datepicker-title{
    padding:0;
}


/*== Start review section ==*/
.cbs-all-slots-cart{
    max-width: 100%;
    margin: 20px;
}
.cbs-all-slot-list{
    border: 2px solid #222;
    padding: 20px;
}
.cbs-single-slot{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cbs-single-slot p{
    margin-bottom: 0;
}
.cbs-btn{
    border: 1px solid crimson;
    background: transparent;
    color: crimson;
}
.cbs-btn:hover{
    background: transparent;
    border: 1px solid red;
    color: red;
}

/*==DISCOUNT CODE STYLE==*/
.cbs-total-and-discount-code-area{
    margin-top: 20px;

}
.cbs-sub-total-label{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.discount-code-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cbs-total-price{
    display:flex;
    justify-content: flex-end;
}
/*==END CODE STYLE==*/